<div class="show_box">
  <div class="show_box_top"></div>
  <div class="show_box_content">

    <h2><%= @recipe.name %> </h2>
    <img src="<%= image_path('info.png') %>" alt="" title="" class="show_icon_right" />

    <fieldset>

      <dl>
        <dt><label>Type：</label></dt>
        <dd><%= @recipe.category.try(:name) %></dd>
      </dl>

      <dl>
        <dt><label>Name：</label></dt>
        <dd><%= @recipe.name %></dd>
      </dl>

      <dl>
        <dt><label>Description：</label></dt>

        <dd><%= @recipe.desc  %></dd>
      </dl>
    </fieldset>
    <fieldset>
      <hr />
      <p>Required Ingredients：</p>
      <dl>
        <% @recipe_ingredients.each do |ri| %>
        <dt><label>Type:</label></dt>
        <dd>
          Type :<%= ri.ingredient_typee %> / Name:  <%= ri.ingredient_name %> / Require Amount: <%= ri.amount %> - <%= ri.unit %>
        </dd>
        <% end %>
      </dl>


    </fieldset>

    <hr/>
  </div>
  <div class="show_box_bottom"></div>
</div>