<tr>
  <td><%= item.name %></td>
  <td><%= item.desc %></td>
  <td><%= item.category.name %></td>
  <td><%= item.created_at.to_s(:db) %></td>
  <td> <%= link_to image_tag("trash.png", :border => "0"), {:action=>"delete", :id=>item }, :confirm => "are you sure?", :method=>:delete %> </td>
</tr>